.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0 64px 0;
  position: relative;
  background: #f1f2f2;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 32px 0;
  position: relative;
  flex: 0 0 auto;
  text-align: center;
  gap: 16px;
}

.title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 600;
  color: #03010c;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 120%;
  font-style: normal;
  margin: 0;
}

.subtitle {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #4e4d54;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  margin: 0;
}

.cardsSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 0 0 16px 0;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;

  @media (max-width: 768px) {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.featureCard {
  width: 200px;
  height: 175px;
  border-radius: 9.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border: 1px solid #fff;

  @media (max-width: 768px) {
    width: 184px;
    height: 111px;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  position: relative;
  flex: 1;
  padding: 16px;
}

.cardContentDesktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.cardContentMobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.iconBackground {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon {
  position: relative;
  width: 40px;
  height: 40px;
  color: #03010c;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 1;

  @media (max-width: 768px) {
    gap: 4px;
  }
}

.cardTitle {
  position: relative;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  margin: 0;
  text-wrap: nowrap;

  @media (max-width: 768px) {
    font-size: 13px;
    text-align: left;
    text-wrap: auto;
  }
}

.cardDescription {
  position: relative;
  align-self: stretch;
  font-weight: 400;
  color: #4e4d54;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 140%;
  font-style: normal;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 11px;
    text-align: left;
    line-height: 1.2;
  }
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;

  @media (max-width: 480px) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .cardsSection {
    flex-wrap: wrap;
    gap: 12px;
  }

  .featureCard {
    width: calc(50% - 6px);
    min-width: 260px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 24px 0 48px 0;
  }

  .content {
    padding: 0 16px;
  }

  .iconBackground {
    height: auto;
    width: auto;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 14px;
  }

  .header {
    padding: 0 0 24px 0;
  }

  .cardsSection {
    padding: 0;
  }

  .featureCard {
    min-width: auto;
    width: 40vw;
    height: 180px;
  }

  .cardContent {
    padding: 20px 12px;
  }

  .iconContainer {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 35px;
    height: 35px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .cardDescription {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .titleWrapper {
    gap: 8px;
    margin-bottom: 8px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 13px;
    width: 302px;
  }

  .featureCard {
    min-width: auto;
    height: 111px;
    width: 184px;
  }

  .cardContent {
    padding: 16px 12px;
    gap: 12px;
  }

  .iconContainer {
    width: 45px;
    height: 45px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .textContent {
    gap: 6px;
  }

  .cardTitle {
    font-size: 13px;
    line-height: 1.1;
  }

  .cardDescription {
    font-size: 11px;
  }
}

@media (max-width: 390px) {
  .featureCard {
    width: 160px;
    height: 95px;
  }

  .cardContent {
    padding: 10px 12px;
    gap: 8px;
  }

  .iconContainer {
    width: 35px;
    height: 35px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .cardTitle {
    font-size: 11px;
    line-height: 1.1;
  }

  .cardDescription {
    font-size: 9px;
    line-height: 1.2;
  }
}
