@use '../../styles/colors' as colors;

.header {
  display: flex;
  width: 100%;
  max-width: 780px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: center;
  position: relative;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 16px;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  color: #03010C;
  text-align: center;
  font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  white-space: pre-line;

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

.subheading {
  display: flex;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  @media (max-width: 480px) {
    padding: 0 16px;
  }
}

.description {
  color: #4E4D54;
  text-align: center;
  font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  max-width: 650px;

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;

  p {
    flex: 1 0 0;
    color: #4E4D54;
    text-align: center;
    font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }
}
