@import 'tailwindcss';

*,
*::after,
*::before {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  font-family: 'Onest', sans-serif;
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  touch-action: pan-y;
}
