@use '../../../styles/colors' as colors;

.faqItem {
  display: flex;
  padding-bottom: 8px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid rgba(217, 216, 218, 0.50);
  position: relative;
  width: 100%;
}

.faqContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  position: relative;
}

.question {
  display: flex;
  padding: 8px 0 4px 0;
  align-items: center;
  align-self: stretch;
  position: relative;

  h3 {
    flex: 1 0 0;
    color: #03010C;
    font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
  }
}

.answer {
  display: flex;
  padding: 4px 0;
  align-items: flex-start;
  align-self: stretch;
  position: relative;

  p {
    flex: 1 0 0;
    color: #4E4D54;
    font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }
}
