@use '../../../styles/colors' as colors;

.card {
  display: flex;
  width: 200px;
  height: 117px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 9.5px;
  background: #FFF;
  position: relative;

  @media (max-width: 768px) {
    width: calc(50% - 8px);
    min-width: 180px;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.statIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.statIcon {
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  position: relative;
}

.statNumber {
  color: #14AD14;
  text-align: center;
  font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}

.titleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.statLabel {
  flex: 1 0 0;
  color: #03010C;
  text-align: center;
  font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
}

.captionSection {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.statCaption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: #4E4D54;
  text-align: center;
  text-overflow: ellipsis;
  font-family: Onest, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}
