@use '../../../styles/colors' as colors;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: colors.$background-section;
  padding: 32px 0;

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  div {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.title {
  background: colors.$gradient-primary-angled;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 33px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  margin: 0;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    color: colors.$black-dark;
    background: none;
    font-size: 19px;
  }
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  justify-content: center;
  width: 100%;

  @media (max-width: 768px) {
    gap: 12px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
  }

  @media (max-width: 480px) {
    gap: 8px;
    max-width: 380px;
    flex-wrap: nowrap;
  }
}

.featureCard {
  width: 200px;
  height: 175px;
  border-radius: 9.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  position: relative;
  background: colors.$gradient-section-fade;
  border: 1px solid colors.$white;

  @media (max-width: 768px) {
    width: 120px;
    height: 102px;
  }

  @media (max-width: 480px) {
    width: 120px;
    height: 102px;
  }
}

.cardContent {
  justify-content: center;
  padding: 8px;
}

.featureIcon {
  min-width: 60px;
  height: 60px;
  flex: 1;
  object-fit: contain;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 480px) {
    width: 30px;
    height: 30px;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid colors.$gray-300;
  padding: 0;
  background: transparent;
}

.featureTitle {
  color: colors.$black-dark;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  width: 120px;
  text-align: center;
  vertical-align: middle;

  @media (max-width: 768px) {
    font-size: 13px;
    font-weight: 600;
    width: 100px;
  }

  @media (max-width: 480px) {
    font-size: 13px;
    font-weight: 600;
    width: 100px;
  }
}
