.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: #f1f2f2;
  padding: 32px 0;

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  div {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.title {
  background: linear-gradient(96.54deg, #07a5eb -30.96%, #3214f0 107.21%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 33px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  margin: 0;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  justify-content: center;
  width: 100%;

  @media (max-width: 768px) {
    gap: 12px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.featureCard {
  width: 200px;
  height: 175px;
  border-radius: 9.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border: 1px solid #fff;

  @media (max-width: 480px) {
    width: 100%;
    max-width: 300px;
  }
}

.cardContent {
  justify-content: center;
  padding: 8px;
}

.featureIcon {
  width: 40px;
  height: 40px;
  flex: 1;
  object-fit: contain;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid #d9d8da;
  padding: 0;
  background: transparent;
}

.featureTitle {
  color: #03010c;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  width: 120px;
  text-align: center;
  vertical-align: middle;
}
